.md-typeset img, .md-typeset svg {
  vertical-align: middle;
}

del {
  background-position: 0;
  background-color: var(--md-typeset-color);
  color: transparent;
  padding: 0.1em 0;
  position: relative;
  text-decoration: none;
}

del * {
  opacity: 0;
}

del:hover {
  transition: color 0.13s linear;
  color: var(--md-default-bg-color);
}

del:hover * {
  transition: opacity 0.13s linear;
  opacity: inherit;
}
